<div class="col-sm-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Event.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">on @Event.Date.ToShortDateString()</h6>
            <p class="card-text">@Event.Description</p>
            <a href="/editevent/@Event.Id" class="card-link">Edit</a>
        </div>
    </div>
</div>