@page "/editevent/{id:int}"

<EditForm Model="EventItem" OnValidSubmit="SaveEvent">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        Name
        <InputText @bind-Value="EventItem.Name" class="form-control" />
    </div>
    <div class="form-group">
        Description
        <InputTextArea @bind-Value="EventItem.Description" class="form-control" />
    </div>
    <div class="form-group">
        Date
        <InputDate @bind-Value="EventItem.Date" class="form-control" />
    </div>
    <div class="form-group">
        Participants
        <InputNumber @bind-Value="EventItem.NumberOfParticipants" class="form-control" />
    </div>
    <div class="form-group">
        Registration Required
        <InputCheckbox @bind-Value="EventItem.RegistrationRequired" />
    </div>
    <input type="submit" class="btn btn-success" />
</EditForm>